<% provide(:title, "Home") %>
<%# 「%...%」を使う記法はRailsのメソッドを実行するだけ。出力はしない%>
<%# 「%= ...%」のように等号を追加するとコードの実行結果が反映される。%>
<h1>Sample App</h1>
<p>
  This is the home page for the
  <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
  sample application.
</p>