<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@user.errors.count, "error") %>.
      <%# errors.countはエラーの数を返す。pluralizeは最初の引数に数字が与えられたとき、第二引数の英単語を複数形にする。この場合「errors」となる。%>
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>